{
  "extends": "airbnb",
  "globals": {
    "document",
    "chrome",
    "window",
    "fetch",
    "$"
  },
  "rules":{
    "no-console": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
  }
}