#wz-popup {
  display:none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  position: fixed;
  font-family: 'Avenir', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  opacity: 0.95;
}

#wz-popup .wz-content {
  text-align: left;
  text-decoration: none;
  background: #fff5ee;
  color: black;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: 12px;
  z-index: 9999999;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 375px;
  max-height: 275px;
  line-height: 1.5;
  overflow: auto;
}

#wz-popup .wz-content::-webkit-scrollbar {
  width: 7px;

}
#wz-popup .wz-content::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 40px 0;
}

#wz-popup .wz-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

#wz-popup .wz-content .wz-word-container .wz-term {
  text-transform: none;
  font-family: 'Georgia', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-size:18px;
  font-weight: bold;
  padding: 0 7px 0 0;
  margin: 0;
  border: 0;
}

#wz-popup .wz-content .wz-word-container .wz-pronounce {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
}

#wz-popup .wz-content .wz-word-container {
  display: flex;
  align-items: center;
  margin: 0 0 7px 0;
  padding: 0;
}

#wz-popup .wz-content .wz-def, .wz-def > li {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.75;
}

#wz-popup .wz-content .wz-def {
  padding: 0 0 0 15px;
}

#wz-popup .wz-content .wz-error {
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}
