:root {
  --spacing-extra-small: .1875rem;
  --red: #FC3C72;
  --washed-yellow: #F2EFED;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* LINKS */
.link {
  color: #555;
}
.link:visited {
  color: #555;
  transition: #555 .15s ease-in;
}

.menu-bg {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

/* WIDTHS */
.w0 { width: .75rem; }
.w4-5 { width: 14rem; }
.h0 { height: .75rem; }

.bottom-auto { bottom: auto; }
.left-auto { left: auto; }
.right-auto { right: auto; }
.mb-auto { margin-bottom: auto; }
.mt-auto { margin-top: auto; }

@media (--breakpoint-not-small) {
  .bottom-auto-ns { bottom: auto; }
  .left-auto-ns { left: auto; }
  .right-auto-ns { right: auto; }
  .w4-5-ns { width: 14rem; }
}

@media (--breakpoint-medium) {
  .bottom-auto-m { bottom: auto; }
  .left-auto-m { left: auto; }
  .right-auto-m { right: auto; }
  .w4-5-m { width: 14rem; }
}

@media (--breakpoint-large) {
  .bottom-auto-l { bottom: auto; }
  .left-auto-l { left: auto; }
  .right-auto-l { right: auto; }
  .w4-l { width: 14rem; }
}
