/* menu 50px + search bar 30px */
.word-list {
  height: 165px;
  overflow-x: hidden;
}

@media (--breakpoint-not-small){
  .word-list-ns {
    height: calc(100vh - 82px);
    overflow-x: hidden;
  }
}

@media (--breakpoint-medium) {
}

@media (--breakpoint-large) {
}


select {
  outline: none;
  border: none;
}

select:focus {
  outline: none;
}

/*.usn {
  user-select: none;
}*/
