/* menu 50px + search bar 30px */
.word-list {
  height: 165px;
  overflow-x: hidden;
}

@media (--breakpoint-not-small){
  .word-list-ns {
    height: calc(100vh - 46px);
    overflow-x: hidden;
  }
}

@media (--breakpoint-medium) {
}

@media (--breakpoint-large) {
}


/*select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 2px inherit #c1c2c3;
}*/

select:focus {
  outline: none;
}

/*.usn {
  user-select: none;
}*/
